@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}

@model IList<CJTimbangan.Models.Setting>
<div class="">
    <div class="page-title">


        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>List Scale</h2>
                        <ul class="nav navbar-right panel_toolbox"></ul>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content">
                        <div class="table-responsive">
                            <table class="table table-striped jambo_table bulk_action">
                                <thead>
                                    <tr class="headings">

                                        <th class="column-title" style="width: 10%">ID Controller</th>
                                        <th class="column-title" style="width: 10%">Type Controller</th>
                                        <th class="column-title" style="width: 10%">IP Controller</th>
                                        <th class="column-title" style="width: 10%">ID Printer</th>
                                        <th class="column-title" style="width: 10%">Type Controller</th>
                                        <th class="column-title" style="width: 10%">IP Printer</th>
                                        <th class="column-title" style="width: 10%">ID Scale</th>
                                        <th class="column-title" style="width: 10%">Type Scale</th>
                                        <th class="column-title" style="width: 10%">Product</th>
                                        <th class="column-title no-link last" style="width: 10%"><span class="nobr">Action</span></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @{ var odd = false; }
                                    @foreach (var item in Model)
                                    {
                                        <tr class="@(odd ? "odd": "even") pointer">

                                            <td class=" ">@Html.DisplayFor(modelItem => item.id_controller)</td>
                                            <td class=" ">@Html.DisplayFor(modelItem => item.type_controller)</td>
                                            <td class=" ">@Html.DisplayFor(modelItem => item.ip_controller)</td>
                                            <td class=" ">@Html.DisplayFor(modelItem => item.id_printer)</td>
                                            <td class=" ">@Html.DisplayFor(modelItem => item.type_printer)</td>
                                            <td class=" ">@Html.DisplayFor(modelItem => item.ip_printer)</td>
                                            <td class=" ">@Html.DisplayFor(modelItem => item.id_dig_scale)</td>
                                            <td class=" ">@Html.DisplayFor(modelItem => item.type_dig_scale)</td>
                                            <td class=" ">@Html.DisplayFor(modelItem => item.barang)</td>
                                            <td class=" last">
                                                <a asp-controller="Setting" asp-action="EditTimbangan" asp-route-id="@item.id">Edit</a> |
                                                <a asp-controller="Home" asp-action="Delete" asp-route-id="@item.id">Delete</a>
                                            </td>
                                        </tr>
                                        odd = !odd;
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
