@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}

@model ReflectionIT.Mvc.Paging.PagingList<CJTimbangan.Models.Input>
@using ReflectionIT.Mvc.Paging
@addTagHelper *, ReflectionIT.Mvc.Paging

<script>
    function doNavigate() {
        window.location.href = document.getElementById("UrlList").value;
    }
</script>

<div class="">
    <div class="page-title">
        <div class="title_left">
        </div>


    </div>


    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">

                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" onclick="location.href='@Url.Action("Index","Report")';">Summary</a></li>
                    <li><a data-toggle="tab" onclick="location.href='@Url.Action("Index","Detail")';">Detail Report</a></li>
                    <li><a data-toggle="tab" onclick="location.href='@Url.Action("Index","Reprint")';">List Reprint</a></li>
                </ul>

                <br>

                <div class="col-md-2 col-sm- col-xs-9 form-group pull-left">
                    <select name class="form-control" id="UrlList" onchange="doNavigate()">
                        <option value="@Url.Action("Index", "Report")" >All Shift</option>
                        <option value="@Url.Action("Index", "Shift1a")" >Shift 1</option>
                        <option value="@Url.Action("Index", "Shift2a")" selected>Shift 2</option>
                        <option value="@Url.Action("Index", "Shift3a")">Shift 3</option>
                    </select>
                    </div>
               <br>
                
                <br />
                <div class="x_content">
                    <div class="table-responsive">
                        <table class="table table-striped jambo_table bulk_action">
                            <thead>
                                <tr class="headings">

                                    <th class="column-title" style="width: 18%">Production Date</th>
                                    <th class="column-title" style="width: 18%">Product</th>
                                    <th class="column-title" style="width: 10%">Packaging</th>
                                    <th class="column-title" style="width: 18%">Lot Number</th>
                                    <th class="column-title" style="width: 10%">Counter</th>
                                    <th class="column-title" style="width: 10%">Status</th>
                                    <th class="column-title" style="width: 10%">Shift</th>
                                </tr>

                            </thead>

                            <tbody>
                                @{ var odd = false; }
                                @foreach (var item in Model)
                                {
                                <tr class="@(odd ? "odd": "even") pointer">

                                    <td class=" ">@Html.DisplayFor(modelItem => item.tgl_produksi, this.Model)</td>
                                    <td class=" ">@Html.DisplayFor(modelItem => item.barang, this.Model)</td>
                                    <td class=" ">@Html.DisplayFor(modelItem => item.kemasan, this.Model)</td>
                                    <td class=" ">@Html.DisplayFor(modelItem => item.lot_no, this.Model)</td>
                                    <td class=" ">@Html.DisplayFor(modelItem => item.counter, this.Model)</td>
                                    <td class=" ">@Html.DisplayFor(modelItem => item.status, this.Model)</td>
                                    <td class=" ">@Html.DisplayFor(modelItem => item.shift, this.Model)</td>
                                </tr>
                                    odd = !odd;
                                }
                            </tbody>
                        </table>
                        <nav aria-label="Input navigation example">
                            <vc:pager paging-list="@Model" />
                        </nav>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
